*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items:center;
    display: flex;
    min-height: 100vh;
    background: black;
}

.box{
    position:relative;
    height: 200px;
    width: 200px;
    transform-style:preserve-3d;
    animation: animate 30s linear infinite;

}

@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);

    }

    0%{
        transform: perspective(1000px) rotateY(360deg);
        
    }

}
.box div{
    position:absolute;
    top:0; left: 0;
    height:100%;
    width:100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--v)*45deg)) translateZ(300px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);

 }

 .box div img{
    position: absolute;
    height: 100%;
    width:100%;
    object-fit:cover;


 }

 .spin{
    animation: spin 1.4s linear infinite;
}

 @keyframes spin{
    0%{
        filter: hue-rotate(360deg);

        transform: perspective(1000px) rotateY(0deg);
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);

    }

    0%{
        filter: hue-rotate(360deg);
        transform: perspective(1000px) rotateY(360deg);
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
        
    }

}

